In [468]:
import pandas as pd
import numpy
import datetime

In [469]:
xls = pd.ExcelFile('Manifest data file.xlsx')
df1 = pd.read_excel(xls, 'Stops')
df1.head(5)

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0

In [470]:
df = df1['Sch Date'].values
arr = []
for i in range(len(df)):
    a=df[i]
    try:
        val = str(int(a))
        date_obj = datetime.datetime.strptime(val ,'%Y%m%d')
        val = str(date_obj.date())
        arr.append(val)
    except:
        arr.append("NA")
print(type(arr))
df1['epoch Sch Date'] = arr
df1

<class 'list'>

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01
...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA

In [471]:
df = df1['Sch Time'].values
arr = []
for i in range(len(df)):
    a=df[i]
    try:
        val = int(a)
        h = str(int(val/60)).zfill(2)
        m = str(val%60).zfill(2)
        s = "00"
        val = h+":"+m+":"+s
        arr.append(val)
    except:
        arr.append("NA")
print(type(arr))
df1['epoch Sch Time'] = arr
df1

<class 'list'>

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00
...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA

In [491]:
df = df1[['epoch Sch Date','epoch Sch Time']].values
arr = []
for i in range(len(df)):
    a=df[i]
    try:
        val = str(a)
        val1 = val[2:12]
        val2 = val[15:23]
        val=str(val1+" "+val2+",72")
        dt_obj = datetime.datetime.strptime(val, '%Y-%m-%d %H:%M:%S,%f')  
        epoch_msec = dt_obj.timestamp()*1000
        arr.append(epoch_msec)
    except:
        arr.append("NA")
df1['Epoch Time'] = arr
df1

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time,Epoch Time,epoch Actual Date,epoch Actual Time,Schedule End,Actual End,Actual Epoch Time
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00,NA,2022-03-01,31:43:00,33:43:00,33:43:00,NA
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00,1.64629e+12,2022-03-03,11:55:00,13:55:00,13:55:00,1646288707920
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00,17:47:00,1646129827920
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00,1.64622e+12,2022-03-04,25:19:00,19:05:00,27:19:00,1646220907920
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00,17:47:00,1646129827920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00,1.65045e+12,2022-04-20,15:54:00,17:54:00,17:54:00,1650450247920
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00,1.65047e+12,2022-04-20,13:29:00,22:00:00,15:29:00,1650465007920
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00,NA,2022-04-15,28:20:00,30:20:00,30:20:00,NA
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00,1.65039e+12,2022-04-19,23:20:00,25:20:00,25:20:00,1650390607920
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA,NA,NA,NA,NA,NA,NA

In [476]:
df = df1['Actual Date'].values
arr = []
for i in range(len(df)):
    a=df[i]
    try:
        val = str(int(a))
        date_obj = datetime.datetime.strptime(val ,'%Y%m%d')
        val = str(date_obj.date())
        arr.append(val)
    except:
        arr.append("NA")
df1['epoch Actual Date'] = arr
df1

<class 'list'>

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time,Epoch Time,epoch Actual Date
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00,NA,2022-03-01
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00,1.64629e+12,2022-03-03
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00,1.64622e+12,2022-03-04
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00,1.65045e+12,2022-04-20
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00,1.65047e+12,2022-04-20
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00,NA,2022-04-15
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00,1.65039e+12,2022-04-19
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA,NA,NA

In [477]:
df = df1['Actual Time'].values
arr = []
for i in range(len(df)):
    a=df[i]
    try:
        val = int(a)
        h = str(int(val/60)).zfill(2)
        m = str(val%60).zfill(2)
        s = "00"
        val = h+":"+m+":"+s
        arr.append(val)
    except:
        arr.append("NA")
print(type(arr))
df1['epoch Actual Time'] = arr
df1

<class 'list'>

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time,Epoch Time,epoch Actual Date,epoch Actual Time
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00,NA,2022-03-01,31:43:00
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00,1.64629e+12,2022-03-03,11:55:00
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00,1.64622e+12,2022-03-04,25:19:00
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00,1.65045e+12,2022-04-20,15:54:00
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00,1.65047e+12,2022-04-20,13:29:00
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00,NA,2022-04-15,28:20:00
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00,1.65039e+12,2022-04-19,23:20:00
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA,NA,NA,NA

In [486]:
df = df1['Sch Time'].values
arr = []
arr1=[]
for i in range(len(df)):
    a=df[i]
    try:
        val = int(a)
        val += 120
        arr.append(val)
    except:
        arr.append("NA")
for j in range(len(df)):
    try:
        val1 = arr[j]
        h1 = str(int(val1/60)).zfill(2)
        m1 = str(val1%60).zfill(2)
        s1 = "00"
        val1 = h1+":"+m1+":"+s1
        arr1.append(val1)
    except:
        arr1.append("NA") 
df1['Schedule End'] = arr1
df1

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time,Epoch Time,epoch Actual Date,epoch Actual Time,Schedule End
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00,NA,2022-03-01,31:43:00,33:43:00
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00,1.64629e+12,2022-03-03,11:55:00,13:55:00
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00,1.64622e+12,2022-03-04,25:19:00,19:05:00
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00,1.65045e+12,2022-04-20,15:54:00,17:54:00
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00,1.65047e+12,2022-04-20,13:29:00,22:00:00
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00,NA,2022-04-15,28:20:00,30:20:00
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00,1.65039e+12,2022-04-19,23:20:00,25:20:00
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA,NA,NA,NA,NA

In [487]:
df = df1['Actual Time'].values
arr = []
arr1=[]
for i in range(len(df)):
    a=df[i]
    try:
        val = int(a)
        val += 120
        arr.append(val)
    except:
        arr.append("NA")
for j in range(len(df)):
    try:
        val1 = arr[j]
        h1 = str(int(val1/60)).zfill(2)
        m1 = str(val1%60).zfill(2)
        s1 = "00"
        val1 = h1+":"+m1+":"+s1
        arr1.append(val1)
    except:
        arr1.append("NA") 
df1['Actual End'] = arr1
df1

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time,Epoch Time,epoch Actual Date,epoch Actual Time,Schedule End,Actual End
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00,NA,2022-03-01,31:43:00,33:43:00,33:43:00
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00,1.64629e+12,2022-03-03,11:55:00,13:55:00,13:55:00
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00,17:47:00
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00,1.64622e+12,2022-03-04,25:19:00,19:05:00,27:19:00
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00,17:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00,1.65045e+12,2022-04-20,15:54:00,17:54:00,17:54:00
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00,1.65047e+12,2022-04-20,13:29:00,22:00:00,15:29:00
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00,NA,2022-04-15,28:20:00,30:20:00,30:20:00
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00,1.65039e+12,2022-04-19,23:20:00,25:20:00,25:20:00
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA,NA,NA,NA,NA,NA

In [489]:
df = df1[['Epoch Time']].values
arr = []
for i in range(len(df)):
    a=df[i]
    try:
        val = int(a)+7200
        arr.append(str(val))
    except:
        arr.append("NA")
df1['Actual Epoch Time'] = arr
df1

,Manifest,Seq,"O=Origin,D=Final Stop",Stop Location Code,Sch Date,Sch Time,Actual Date,Actual Time,epoch Sch Date,epoch Sch Time,Epoch Time,epoch Actual Date,epoch Actual Time,Schedule End,Actual End,Actual Epoch Time
0,313325,1.0,O,112301.0,20220228.0,1903.0,20220301.0,1903.0,2022-02-28,31:43:00,NA,2022-03-01,31:43:00,33:43:00,33:43:00,NA
1,313325,2.0,D,353062.0,20220303.0,715.0,20220303.0,715.0,2022-03-03,11:55:00,1.64629e+12,2022-03-03,11:55:00,13:55:00,13:55:00,1646288707920
2,2951839,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00,17:47:00,1646129827920
3,2951839,2.0,D,344073.0,20220302.0,1025.0,20220304.0,1519.0,2022-03-02,17:05:00,1.64622e+12,2022-03-04,25:19:00,19:05:00,27:19:00,1646220907920
4,2952084,1.0,O,353062.0,20220301.0,947.0,20220301.0,947.0,2022-03-01,15:47:00,1.64613e+12,2022-03-01,15:47:00,17:47:00,17:47:00,1646129827920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73352,106481155,1.0,O,313267.0,20220420.0,954.0,20220420.0,954.0,2022-04-20,15:54:00,1.65045e+12,2022-04-20,15:54:00,17:54:00,17:54:00,1650450247920
73353,106481155,2.0,D,302742.0,20220420.0,1200.0,20220420.0,809.0,2022-04-20,20:00:00,1.65047e+12,2022-04-20,13:29:00,22:00:00,15:29:00,1650465007920
73354,106481213,1.0,O,142375.0,20220415.0,1700.0,20220415.0,1700.0,2022-04-15,28:20:00,NA,2022-04-15,28:20:00,30:20:00,30:20:00,NA
73355,106481213,2.0,D,101392.0,20220419.0,1400.0,20220419.0,1400.0,2022-04-19,23:20:00,1.65039e+12,2022-04-19,23:20:00,25:20:00,25:20:00,1650390607920
73356,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,NA,NA,NA,NA,NA,NA,NA